<html>
<head>
  <link href="/stylesheets/login.css" rel="stylesheet">
</head>
<body>
<p id="alert"><%= alert %></p>
<div class="wrapper">
	<div class="container">
		<h1>Welcome</h1>

<%= form_tag sessions_path do |form| %>
<input type="text"  class="test" name="email" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <button type="submit" id="login-button">Login</button>
<% end %>
</div>
	<ul class="bg-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>
</body>
</html>
