  <div class="application_settings application_settings_notes">
	  <div class="button-edit-application" style="display: block;"><img src="/images/main/edit-button.png"></div>
		<div class="button-save-application" style="display: none;"><img src="/images/main/save-button.png"></div>
		<input type="hidden" name="edit_active" id="edit_active" value="false">
  </div>
  <table class="note_table">
    <caption></caption>
    <tr>
      <th>Fächer</th>
      <th> </th>
      <th> </th>
      <th> </th>
      <th> </th>
      <th> </th>
    </tr>
    <tr>
      <th>8:00 </th>
      <td contenteditable="false"></td>
      <td contenteditable="false"></td>
      <td contenteditable="false"></td>
      <td contenteditable="false"></td>
      <td contenteditable="false"></td>
    </tr>
    <tr>
      <th>9:00 </th>
      <td contenteditable="false"></td>
      <td contenteditable="false"></td>
      <td contenteditable="false"></td>
      <td contenteditable="false"></td>
      <td contenteditable="false"></td>
    </tr>
    <tr>
      <th>10:00 </th>
      <td contenteditable="false"></td>
      <td contenteditable="false"></td>
      <td contenteditable="false"></td>
      <td contenteditable="false"></td>
      <td contenteditable="false"></td>
    </tr>
    <tr>
      <th>11:00 </th>
      <td contenteditable="false"></td>
      <td contenteditable="false"></td>
      <td contenteditable="false"></td>
      <td contenteditable="false"></td>
      <td contenteditable="false"></td>
    </tr>
    <tr>
      <th>12:00 </th>
      <td contenteditable="false"></td>
      <td contenteditable="false"></td>
      <td contenteditable="false"></td>
      <td contenteditable="false"></td>
      <td contenteditable="false"></td>
    </tr>
    <tr>
      <th>13:00 </th>
      <td contenteditable="false"></td>
      <td contenteditable="false"></td>
      <td contenteditable="false"></td>
      <td contenteditable="false"></td>
      <td contenteditable="false"></td>
    </tr>
    <tr>
      <th>14:00 </th>
      <td contenteditable="false"></td>
      <td contenteditable="false"></td>
      <td contenteditable="false"></td>
      <td contenteditable="false"></td>
      <td contenteditable="false"></td>
    </tr>
    <tr>
      <th>15:00 </th>
      <td contenteditable="false"></td>
      <td contenteditable="false"></td>
      <td contenteditable="false"></td>
      <td contenteditable="false"></td>
      <td contenteditable="false"></td>
    </tr>
    <tr>
      <th>16:00 </th>
      <td contenteditable="false"></td>
      <td contenteditable="false"></td>
      <td contenteditable="false"></td>
      <td contenteditable="false"></td>
      <td contenteditable="false"></td>
    </tr>
    <tr>
      <th>17:00 </th>
      <td contenteditable="false"></td>
      <td contenteditable="false"></td>
      <td contenteditable="false"></td>
      <td contenteditable="false"></td>
      <td contenteditable="false"></td>
    </tr>
  </table>
