.timetable_div {
  margin: 50px auto;
  width: 100%;
}

.timetable_div table {
  table-layout: fixed;
  width: 100%;
  font-size: 18px;
  font-weight: 300;
}
.timetable_div table caption {
  text-align: center;
  font-size: 1.5em;
  padding: 0.35em;
}
.timetable_div table tr {
  height: 1.85em;
}
.timetable_div table td,.timetable_div table th {
  text-align: center;
  background: #FAFAFA;
}
.timetable_div table th {
  font-weight: 400;
}


